{%- include common/rest/workdir.liquid %}

{% comment %} display the directory name {% endcomment %}
{% comment %} display the root sub-directory as "p.caption" {% endcomment %}
{%- assign dir = site_pages | where: "url", workdir | first -%}
{% comment %}
{%- if workdir_level == 2 %}
    
    <a class="caption d-block text-uppercase no-wrap px-2 py-0" href="{{ dir.url | relative_url }}">
        {{ dir.title | default: dir.url }}11
    </a>
{%- else %}
    <a class="d-flex flex-items-baseline" href="{{ dir.url | relative_url }}">
        {{ dir.title | default: dir.url }}222
    </a>
{%- endif -%}
{% endcomment %}
{%- for item in workdir_files -%}
<!-- <a>{{item}}</a> -->
    {%- assign level = item.dir | append: "temp" | replace_first: "/", "" | split: "/" | size | minus: 1 -%}
    {%- assign itemName = item.name | split: '.' -%}
    {%- capture current -%}
        {%- if page.url == item.url %}current{% endif -%}
    {%- endcapture %}

    <li class="nav-item {{ current }}" data-sort="{{ item.sort }}" data-level="{{ level }}">
        <a class="nav-item-a {{ current }}" href="{{ item.url | relative_url }}">
            {{ itemName[0] }}--
        </a>
    </li>
{%- endfor -%}
