<div class="sidebar-wrap overflow-hidden">
    <div class="sidebar height-full overflow-x-hidden">
        <div class="header d-flex flex-column text-center">
            <div class="title">
            	<img class="logo-box" src="../../assets/img/logo.png" />
                <!--<a class="h4 no-underline py-1 px-2 rounded-1" href="{{ site.baseurl }}/" title="{{ site.description }}">
                    <i class="fa fa-home"></i> {{ site.title }}
                </a>-->
              
            </div>
            <!--<span class="version">{{ docs.latest_release.name }}</span>-->
            
        </div>
        <div class="menu-box">
        	<form class="search" action="{{ site.baseurl }}/search.html" method="get" autocomplete="off">
            <input class="form-control input-block input-sm" type="text" name="q" placeholder="{{ __.search_docs | default: 'Search' }}">
          </form>
          <div class="toctree" data-spy="affix" role="navigation" aria-label="main navigation">
            {% include templates/toctree.liquid %}
        	</div>
        </div>
    </div>
</div>
